# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Generated platform folders (created by `flutter create .`)
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.idea/
*.iml
.vscode/

# Local config
**/local.properties
**/.gradle/
